# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Run Scoreboard Tests

on: [push,pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install Linux Dependences
      run: |
        apt install python3-pyaudio
    - name: Install dependencies
      run: |
        cd commit-scoreboard
        python -m pip install --upgrade pip
        pip install pytest behave
        pip install -r requirements.txt
    - name: Test with behave
      run: |
        cd commit-scoreboard
        behave
    - name: Test with pytest
      run: |
        cd commit-scoreboard
        python -m pytest
